ebin/*.beam
ebin/*.app
*.beam
deps
erl_crash.dump
*~
#*#
.*#
*#
.eunit
apps
src/boss/*.dtl.erl
*.sw?
log/*.*
priv/data/*.*
priv/log/*.*
priv/mnesia/*.*
data
Mnesia.*
ebin/inventory.app
rel/inventory
dist
