{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../apps"]}.
{deps, []}.
{erlydtl_opts, [
    {doc_root,    "src/view"}
    ,{out_dir,     "ebin"}
    ,{compiler_options, [report, return, debug_info]}
    ,{source_ext, ".html"}
    ,{module_ext, "_html"}
    ,{naga, [{".js", "_js"},{".css","_css"},{".json","_json"},{".txt","_txt"}]}
]}.
