[{n2o, [
         {port, {{port}} }
        ,{websocket_port, {{port}} }
       %,{app, {{appid}} }
        ,{upload, "/tmp"}
        ,{session, n2o_session}
       %,{auto_session, disabled}
        ,{ttl, 900}  %% time to live session 15mn, change according to your case
        ,{mq, n2o_syn}
        ,{formatter,bert}
        ,{minify,{"apps/{{appid}}/priv/static",
                   ["deps/n2o/priv/bullet.js",
                    "deps/n2o/priv/n2o.js",
                    "deps/n2o/priv/ftp.js",
                    "deps/n2o/priv/protocols/bert.js",
                    "deps/n2o/priv/protocols/nitrogen.js",
                    "deps/n2o/priv/utf8.js",
                    "deps/n2o/priv/validation.js"]}}
        ,{route, naga_routes}
        ,{secret,<<"{{appid}}-This-IS-Classified-Change-Me">>}
        ,{log_modules, {{appid}} }
        %,{log_level, {{appid}} }
        ,{log_backend, n2o_log}

        ,{origin,<<"*">>}
        ,{bridge,naga_cowboy}
        ,{pickler,n2o_pickle}
        ,{erroring,n2o_error}
        ,{event,pickle}
        ,{protocols,[ n2o_heart,
                      n2o_nitrogen,
                      n2o_file,
                      n2o_client
                    ]}
        ]},

 { naga, [
          {watch,[{{appid}}]}
         ]},        

 { {{appid}}, [
          {domain, all}
        %,{domains, ["www.{{appid}}.dev", ":sub.{{appid}}.dev"]} 
         ,{mode, dev}                  
         ,{rules,[routes,view]}  %% use routes file and view routing      
         ,{base_url, "/"}
         ,{lang_dir, "./priv/lang"}
         ,{modules,[]}  

         ,{assume_locale, <<"en">>}
         %,{theme, your_theme}
         ,{i18n, false}

         ,{port, {{port}} }
         ,{websocket_port, {{port}} }
         ,{listeners,[
                      {http, [
                               {acceptors, 100},{ip,{0,0,0,0}},{port, {{port}} }
                             ]}
                      ]}
         ,{lang_dir, "./priv/lang"}
         %%,{filter_config,[
         %%                { {{appid}}_auth, []}
         %%               ]}
         %%,{filter,[{{appid}}_auth]}

        ]}
].
