{naga_opts, [ {name,{{appid}} },{model_manager, boss} ]}.
{erl_opts, [debug_info, {parse_transform, pmod_pt}]}.

{deps, [
        {naga,  ".*", {git, "https://github.com/naga-framework/naga.git", {tag, "master"}}},
        {boss_db, ".*",   {git, "git://github.com/ErlyORM/boss_db.git", {tag, "v0.8.15"}}}
       ]}.
