[{n2o, [{port, {{port}} },
        %{route,{{appid}}_routes},
        {log_modules, {{appid}} }
        ]},
 {naga, [
         {watch,[{{appid}}]}
       ]},        

 { {{appid}}, [
          {domain, all}        
         ,{base_url, "/"}   
         ,{routes, {{appid}}_routes} 
         ,{assume_locale, <<"en">>}
         ,{listeners,[
                      {http, [
                               {acceptors, 100},{ip,{0,0,0,0}},{port,8080}
                             ]}
                      %,{https, [
                      %         {acceptors, 100},{ip,{0,0,0,0}},{port,8433},
                      %         {ssl_opts,[
                      %                     {cacertfile, "./etc/ssl/cowboy-ca.crt"},
                      %                     {certfile, "./etc/ssl/server.crt"},
                      %                     {keyfile,  "./etc/ssl/server.key"}
                      %                   ]}
                      %         ]},
                      %,{spdy, [
                      %         {acceptors, 100},{ip,{0,0,0,0}},{port,9433},
                      %         {ssl_opts,[
                      %                     {cacertfile, "./etc/ssl/cowboy-ca.crt"},
                      %                     {certfile, "./etc/ssl/server.crt"},
                      %                     {keyfile,  "./etc/ssl/server.key"}
                      %                   ]}
                      %         ]},

                      ]}
         ,{lang_dir, "./data/lang"}

         ,{filter_enable, false}
         ,{filters, []}

         ,{template_tag_modules, []}
         ,{template_filter_modules, []}
         ,{template_auto_escape, true}

         ,{db_host, "localhost"}
         ,{db_port, 3306}
         ,{db_adapter, mock}
         ,{db_username, "{{appid}}_dba"}
         ,{db_password, "{{appid}}_pass"}
         ,{db_database, "{{appid}}_db"}

         ,{cache_enable, false}
         ,{cache_adapter, memcached_bin}
         ,{cache_enable, false}
         ,{cache_servers, [{"localhost", 11211, 1}]}
         ,{cache_exp_time, 3600} 
        ]}
].
